body{
    
    background-image: url("../images/src=http___img30.360buyimg.com_imgzone_jfs_t1_139709_6_25471_125271_61a9c762E1e470236_49ee14deebad3464.jpg&refer=http___img30.360buyimg.webp");
}
.c1{
    color:aliceblue
}
h1{
    color:cadetblue;
    font-size: 40px;
}